@use "@styles/global.scss" as *;
@use "@styles/variables.scss" as *;

.three-cont {
    z-index: 50;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100svh;

    overflow: hidden;

    @include media-max("md") {
        align-items: flex-start;

        &::before {
            content: '';
            position: absolute;
            inset: 0;

            background-color: rgba($white, $alpha: .9);
            filter: blur(3px);

            z-index: -1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;

        background-image: url("/lines.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .8;
        z-index: -1;
        transform-origin: center bottom;
    }
}

.three {
    grid-template-areas: "header number";

    @include media-max("md") {
        grid-template-areas: "number number" "header header";
    }

    &-header {
        grid-area: header / span 6;

        max-width: 70%;

        height: 100%;
        width: fit-content;

        margin: 0 auto;

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 18px;

        @include media-max("md") {
            grid-area: 2 / span 12;

            max-width: 100%;
        }

        &-title {
            margin: 0;
            color: $secondary;

            span {
                font-family: $font-accent;
            }
        }

        &-text {
            color: $secondary;
            font-family: $font;
            font-style: normal;
            font-weight: 300;
            margin: 0;
        }
    }

    &-number {
        grid-area: number / span 6;
        text-align: end;

        @include media-max("md") {
            text-align: center;
            grid-area: 1 / span 12;
        }
    }
}