@use "@styles/global.scss" as *;
@use "@styles/variables.scss" as *;

.hero {
    position: relative;
    z-index: 50;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100svh;

    &-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: $gap-128;

        h1 {
            font-family: $font-accent;
            line-height: normal;
            margin: 0;
            color: $secondary;

        }

        p {
            color: secondary;
            text-align: center;
            font-family: $primary;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: -1.92px;
            margin: 0;
        }
    }
}