.hero {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100svh;

    &-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 128px;

        h1 {
            font-family: 'apocNormal';
            line-height: normal;
            margin: 0;
            color: #572700;

        }

        p {
            color: #572700;
            text-align: center;
            font-family: "museoSans";
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: -1.92px;
            margin: 0;
        }
    }
}