@use "@styles/global.scss" as *;
@use "@styles/variables.scss" as *;

.four-cont {
    z-index: 50;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: fit-content;

    background-color: $primary;
    padding: 35svh 0 15svh 0;
}

.four {
    grid-template-areas: "number header"
        "hole hole";
    row-gap: 15svh;

    &-header {
        grid-area: header / 4 / header / 10;

        height: 100%;
        width: fit-content;

        margin: 0 auto;

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 18px;

        &-title {
            margin: 0;
            color: $white;

            span {
                font-family: $font-accent;
            }
        }

        &-text {
            color: $white;
            font-family: $font;
            font-style: normal;
            font-weight: 300;
            margin: 0;
        }

        &-send {
            position: relative;
            z-index: 50;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            margin-top: 42px;

            &-input {
                appearance: none;

                width: fit-content;
                min-width: 250px;
                height: fit-content;

                padding: 10px 8px;

                background-color: $white;
                color: $primary;
                border-radius: 6px;
                overflow: hidden;
                border: 0;

                font-size: 16px;
                font-family: $font-accent;
                line-height: normal;

                cursor: auto;

                &:focus {
                    border-radius: 6px;
                    overflow: hidden;
                }
            }
        }
    }

    &-number {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &-hole {
        grid-area: hole / span 12;
        margin: 0 auto;

        &-invisible {

            width: 100%;

            color: rgba($secondary, 0.3);

            margin: 0;
        }
    }
}