@use "@styles/global.scss" as *;
@use "@styles/variables.scss" as *;

.two-cont {
    z-index: 50;
    position: relative;

    height: 100%;
    min-height: 50svh;

    margin-top: -40px;
    padding: 5vh 0 60svh 0;

    background-color: $primary;
}

.two {
    grid-template-areas: "header text";
    align-items: center;

    height: 100%;

    &-header {
        grid-area: header / span 6;

        height: 100%;
        width: fit-content;

        position: relative;

        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 18px;

        &-title {
            color: $white;

            span {
                font-family: $font-accent;
            }
        }

        &-number {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-text {
        grid-area: text / span 6;
        color: $white;
        font-family: $font;
        font-style: normal;
        font-weight: 300;
        margin: 0;
    }

    &-round {
        z-index: 50;
        position: relative;
        background-color: $white;
    }
}