@use "@styles/global.scss" as *;
@use "@styles/variables.scss" as *;

.one-cont {
    z-index: 50;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100svh;

    background-color: $white;
}

.one {
    grid-template-areas: "header number";

    &-header {
        grid-area: header / span 6;

        height: 100%;
        width: fit-content;

        margin: 0 auto;

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 18px;

        &-title {
            margin: 0;
            color: $secondary;

            span {
                font-family: $font-accent;
            }
        }

        &-text {
            color: $secondary;
            font-family: $font;
            font-style: normal;
            font-weight: 300;
            margin: 0;
        }
    }

    &-number {
        grid-area: number / span 6;
        text-align: end;
    }
}