@use "@styles/global.scss" as *;
@use "@styles/variables.scss" as *;

.error {
    grid-template-areas: "error text";
    align-items: flex-end;
    height: 100svh;
    padding-bottom: 128px;

    h1 {
        grid-area: error / span 6;
        font-family: $font-accent;
        font-size: 350px;
        line-height: 350px;
        margin: 0;
        color: $primary;
    }

    &-text {
        grid-area: text / span 6;
        color: $primary;

        p {
            margin: 0;

        }

        a {
            text-decoration: none;

            button {
                margin: 24px 0 0 0;
            }
        }

    }
}