@use "./variables.scss" as *;
@use "sass:map";

* {
    box-sizing: border-box;

    font-family: $font , Verdana, Helvetica, sans-serif;
    font-size: $font-size;

    scrollbar-width: thin;
    scrollbar-color: $black rgba(0, 0, 0, .01);

    scroll-behavior: smooth
}

body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;

    -ms-text-size-adjust: auto;
    -webkit-text-size-adjust: 100;

    text-rendering: optimizeLegibility;

    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

header {
    z-index: 600;
    padding-top: var(--header-top);
    padding-bottom: 8px;
    top: 0;
    left: 0;
}

main {
    position: relative;
}

a,
a:visited,
a:active {
    color: $primary;
}

*:focus {
    border-radius: 2px;
    outline: 2px solid $primary;
    outline-offset: 2px;
}

*::-webkit-scrollbar {
    width: 1px;
}

*::-webkit-scrollbar-thumb {
    background-color: $black;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .01);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

img {
    border: 0
}

table {
    font-variant-numeric: tabular-nums
}

html.lenis {
    height: auto
}

.lenis.lenis-smooth {
    scroll-behavior: auto
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain
}

.lenis.lenis-stopped {
    overflow: hidden
}

.lenis.lenis-scrolling iframe {
    pointer-events: none
}

.grid-p {
    padding: 0 $side-gap;
}

.columns {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

.number {
    pointer-events: none;

    &-section {
        color: rgba($secondary, 0.30);

        font-size: clamp(9.375rem, 46.875vw + 0rem, 42.1875rem);

        font-family: $font-accent;
        font-style: italic;
        line-height: 120%;
        letter-spacing: -13.5px;
    }

    &-white {
        color: rgba(250, 250, 248, 0.10);
    }
}

button {
    appearance: none;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    padding: 10px 24px;

    background-color: $primary;
    color: $white;
    border-radius: 6px;
    background: #D9772A;
    border: 0;

    font-size: 16px;
    font-family: $font-accent;
    line-height: normal;

    cursor: pointer;
}

.white {
    background-color: $white !important;
    color: $primary;
    background: #D9772A;

    &:focus {
        outline-color: $white;
    }
}

.type-675 {
    font-size: clamp(9.375rem, 46.875vw + 0rem, 42.1875rem);
    line-height: 1.25em;
    letter-spacing: 0;
}

.type-350 {
    font-size: clamp(6rem, 22.679vw + 1.464rem, 21.875rem);
    line-height: 1.25em;
    letter-spacing: 0;
}

.type-215 {
    font-size: clamp(4rem, 10.482vw + 1.304rem, 13.4375rem);
    line-height: 1.25em;
    letter-spacing: 0;
}

.type-64 {
    font-size: clamp(2.5rem, 2.143vw + 2.071rem, 4rem);
    line-height: 1.25em;
    letter-spacing: 0
}

.type-42 {
    font-size: clamp(2.25rem, 0.536vw + 2.143rem, 2.625rem);
    line-height: 1.25em;
    letter-spacing: 0
}

.type-32 {
    font-size: clamp(1.5rem, 0.714vw + 1.357rem, 2rem);
    line-height: 1.25em;
    letter-spacing: 0
}

.type-18 {
    font-size: clamp(1rem, 0.179vw + 0.964rem, 1.125rem);
    line-height: 1.5em;
    letter-spacing: 0
}

.loading {
    z-index: 9999;
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    background-color: $white;

    overflow: hidden;
    align-items: flex-end;

    &-load {
        position: relative;
        color: $primary;
        margin-bottom: $gap-128;

        span {
            font-family: $font-accent;
        }

        &-cover {
            position: absolute;
            width: 100svw;
            height: 100svw;

            background-color: #D9D9D9;
            mix-blend-mode: lighten;
        }
    }
}

@mixin media-min($_key) {
    @media screen and (min-width: map.get($breakpoints, $_key)) {
        & {
            @content;
        }
    }
}

@mixin media-max($_key) {
    @media screen and (max-width: (map.get($breakpoints, $_key) - 1)) {
        & {
            @content;
        }
    }
}

@mixin media-between($_keymin, $_keymax) {
    @media screen and (min-width: map.get($breakpoints, $_keymin)) and (max-width: (map.get($breakpoints, $_keymax) - 1)) {
        & {
            @content;
        }
    }
}