@use "./variables.scss" as *;

* {
    box-sizing: border-box;

    font-family: $font , Verdana, Helvetica, sans-serif;
    font-size: $font-size;

    scrollbar-width: thin;
    scrollbar-color: $black rgba(0, 0, 0, .01);

    scroll-behavior: smooth
}

body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;

    -ms-text-size-adjust: auto;
    -webkit-text-size-adjust: 100;

    text-rendering: optimizeLegibility;

    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

header {
    z-index: 600;
    padding-top: var(--header-top);
    padding-bottom: 8px;
    top: 0;
    left: 0;
}

main {
    position: relative;
}

a,
a:visited,
a:active {
    color: $primary;
}

*:focus {
    border-radius: 2px;
    outline: 2px solid $primary;
    outline-offset: 2px;
}

*::-webkit-scrollbar {
    width: 1px;
}

*::-webkit-scrollbar-thumb {
    background-color: $black;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .01);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

img {
    border: 0
}

table {
    font-variant-numeric: tabular-nums
}

html.lenis {
    height: auto
}

.lenis.lenis-smooth {
    scroll-behavior: auto
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain
}

.lenis.lenis-stopped {
    overflow: hidden
}

.lenis.lenis-scrolling iframe {
    pointer-events: none
}

.grid-p {
    padding: 0 $side-gap;
}

.columns {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

.number {
    pointer-events: none;

    &-section {
        color: rgba($secondary, 0.30);

        font-size: 675px;

        font-family: $font-accent;
        font-style: italic;
        line-height: 120%;
        letter-spacing: -13.5px;
    }

    &-white {
        color: rgba(250, 250, 248, 0.10);
    }
}

button {
    appearance: none;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    padding: 10px 24px;

    background-color: $primary;
    color: $white;
    border-radius: 6px;
    background: #D9772A;
    border: 0;

    font-size: 16px;
    font-family: $font-accent;
    line-height: normal;

    cursor: pointer;
}

.white {
    background-color: $white !important;
    color: $primary;
    background: #D9772A;

    &:focus {
        outline-color: $white;
    }
}

/** MODIFY **/

.type-16 {
    font-size: .94em;
    line-height: 1.5em
}

.type-18 {
    font-size: 18px;
    line-height: 1.3em;
    letter-spacing: 0
}

.type-22 {
    font-size: clamp(1.25rem, 1.1vw + .3rem, 22px);
    line-height: 1.3em
}

.type-32 {
    font-size: clamp(1.28rem, 1.3vw + .5rem, 32px);
    line-height: 1.25em;
    letter-spacing: 0
}

.type-40 {
    font-size: clamp(24px, 1.75vw + .5rem, 40px);
    line-height: 1.2em
}

.type-42,
.type-42>span {
    font-size: clamp(28px, 1.75vw + .5rem, 42px);
    line-height: 1.2em
}

.type-45 {
    font-size: clamp(26px, 1.92vw + .5rem, 45px);
    line-height: 1.2em
}

.type-64 {
    font-size: clamp(32px, 3.4vw + 1rem, 64px);
    line-height: 1em
}


.type-80 {
    font-size: clamp(32px, 3.4vw + 1rem, 80px);
    line-height: 1em
}

.type-120 {
    font-size: clamp(32px, 5.4vw + 1rem, 120px);
    line-height: 1em;
    letter-spacing: 0
}

.loading {
    z-index: 9999;
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    background-color: $white;

    overflow: hidden;
    align-items: flex-end;

    &-load {
        position: relative;
        color: $primary;
        margin-bottom: 128px;

        span {
            font-family: $font-accent;
        }

        &-cover {
            position: absolute;
            width: 100svw;
            height: 100svw;

            background-color: #D9D9D9;
            mix-blend-mode: lighten;
        }
    }
}