$breakpoints: (
    "xs": 0px,
    "sm": 575px,
    "md": 900px,
    "lg": 1200px,
    "xl": 1536px
);

$font: 'museoSans';
$font-accent: 'apocNormal';
$font-size: 16px;

$side-gap-header: clamp(16px, calc(4vw - 1rem), 72px);
$side-gap: max($side-gap-header, calc((100vw - 1860px) / 2));

$gap-42: clamp(1.375rem, 1.786vw + 1.018rem, 2.625rem);
$gap-128: clamp(4rem, 13.482vw + 1.304rem, 13.4375rem);

$primary: #D9772A;
$secondary: #572700;
$white: #FAFAF8;
$black: #1A1818;